*{
	margin: 0 auto;
	padding: 0;

}

#header
{
	
	height: 170px;
	width:1020px;
	background-color:#0066CC;
	font-family: arial;
	font-size: 20px;
	padding: 30px;
	margin-top: 10px;
	border-radius: 10px;

}
#header h1
{

	float:right;
	margin-rignt:10px;
	padding-right:150px;
	margin-top:50px;
}
#header h2
{
	float:right;
	padding-right:150px;

}

#header img
{
	
	height:180px;
	width: 200px;
	border-radius: 100px;
	float: left;
	


}
#header img:hover
{
	opacity:10;
	cursor:pointer;
}

#nav
{
	width: 1060px;
	background-color:#009966;
	height: 30px;
	border-radius:5px;
	padding: 10px;
	margin-top: 5px;
}


#nav ul a
{
	display:block;
	color:yellow;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#nav ul li 
{
	display: inline;
	position:relative;
}
#nav ul li a 
{
	text-decoration:none;
	color:#fff;
	font:20px 'Cambria';
	float: left;
	padding: 5px 23px;
}
#nav ul li a:hover
{
	color: yellow;
	background-color: light green;

}

#nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#66CCFF;
	padding:0
}

#nav ul ul li
{
	float:none;
	width:200px
}

#nav ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#nav ul ul ul
{
	top:0;
	left:100%
}

#nav ul li:hover > ul
{
	display:block
}

#wrapper
{
	height:1000px;
	width: 1080px;
	background-color:white;


}
#content
{
    margin-top:5px;
	background-color:gray;
	height:830px;
	width:1079px;
	text-align:left;
	border-style: line;
	border-style-color:grey;
	border-radius: 10px;
	
}



#leftcontent
{
    margin-top: 10px;
	background-color:yellow;
	height:815px;
	width:579px;
	float:left;
	margin-left:5px;
	border-style: line;
	border-style-color:grey;
	border-radius: 10px;
	
}
#leftcontent img
{
	height:795px;
	width:570px;
	border-radius: 8px;
	float: left;
	margin-top:5px;
	margin-left:5px;

}

#content
{
	margin-top:10px;
	background-color:#66CCFF;
	height:830px;
	width:*;
	margin-right:0px;
	border-style: line;
	border-style-color:grey;
	border-radius: 10px;


}
#content form
{
	height: 400px;
	width: 400px;
	margin-top:20px;
	margin-right:5px;
	background-color:#66CCFF;
    color: black;
	float:left;
	border-radius:10px;
	padding: 5px;
	padding-left:15px;
		


}
#content h1
{
	color:red;
	font-family: 'Arial Narrow';
	padding-top: 20px;
	font-size: 30px;
	margin-left:5px;
}

#content th
{
	color:#66CCFF;
	font-family: 'Arial Narrow';
	padding-top: 5px;
	font-size: 15px;
	text-align:center;
}

#content td
{
	color:#66FF99;
	font-family: 'Arial Narrow';
	padding-top: 5px;
	font-size: 15px;
	text-align:center;
}

#content h2
{
	color:black;
	font-family: 'Arial Narrow';
	padding-left: 90px;
	font-size: 50px;
	margin-left:5px;
}
#content h2 a{
	border:none;
	font-size: 20px;
	padding-left: 10px;
	margin-top: 10px;
	text-decoration: none;

}
#content p
{
	color: black;
	font-family:  'Arial Narrow';
	font-size: 30px;
	font-weight: lighter;
	padding: 5px;
}
#content h3
{
	color:#903;
	font-family:  'Arial Narrow';
	font-size: 20px;
	font-weight: lighter;
	padding: 5px;
}
#content p input
{
	height: 50px;
	width: 200px;
	border: none;
}
#content p input[type='text']
{
	text-indent: 5px;
	border-color: black;
	background-repeat: no-repeat;
	background-position: right;
	font-size: 15px;
	padding-right: 30px;

}
#content p input[type='number']
{
	text-indent: 5px;
	border-color: black;
	background-repeat: no-repeat;
	background-position: right;
	font-size: 15px;
	padding-right: 30px;

}

#content p input[type='password']
{	text-indent: 5px;
	
	background-repeat: no-repeat;
	background-position: right;
	font-size: 15px;
	padding-right: 30px;
}
#content p input[type='submit']
{
	width: 80px;
	height: 30px;
	background-color: black;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;

}
#content a
{
	width: 90px;
	height: 40px;
	background-color: black;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	padding-left:15px;
	backgroun-width: 60px;
	backgroun-height: 50px;
	border-radius: 4px;

}
#content p a{
	border:none;
	font-size: 20px;
	padding-left: 10px;
	margin-top: 10px;
	text-decoration: none;

}
#content p input[type='submit']:hover
{
	background-color: gray;
	color: orange;
}
#content a:hover
{
	background-color: orange;
	

}
#footer
{
	margin-top: 5px;
	background-color:#009966;
	height:55px;
	width:1082px;
	border-radius: 10px;
	margin-bottom:8px;

}
#foot p
{
	text-align:center;
	
	font-size:22px;
	margin-top:8px;
	font-family:comic sans;
	color:white;
}
